streamlit
pandas
numpy<2
https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-3.5.0/es_core_news_lg-3.5.0.tar.gz#egg=es_core_news_lg
matplotlib
seaborn
scikit-learn
bertopic
plotly
wordcloud
networkx
pyvis
sentence-transformers
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0.tar.gz
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
kaleido==0.2.1
